<div
  class="flex rounded-b-3xl bg-gradient-to-r from-slate-800 to-blue-900 p-2 py-10 items-center justify-around shadow-sm sticky top-0"
>
  <div class="text-white">
    <h1 class="text-7xl font-bold font-serif hover:text-slate-200">
      <a href="/">Alan M. Turing</a>
    </h1>
    <p class="text-5xl font-thin">Computer Scientist</p>
  </div>
  <img class="rounded-full h-48 hover:outline-dotted outline-offset-8 outline-blue-500 outline-dashed" src="/demo-portfolio/images/alan.jpg" />
</div>
